RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://221.135.137.234/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://221.135.137.234$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kritvainvestments.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kritvainvestments.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kritvainvestments.com.cp-in-1.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kritvainvestments.com.cp-in-1.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://partners.vvfltd.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://partners.vvfltd.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pmstest.kritvainvestments.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pmstest.kritvainvestments.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vendor.kritvainvestments.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vendor.kritvainvestments.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kritvainvestments.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kritvainvestments.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kritvainvestments.com.cp-in-1.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kritvainvestments.com.cp-in-1.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pmstest.kritvainvestments.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pmstest.kritvainvestments.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vendor.kritvainvestments.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vendor.kritvainvestments.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://103.21.58.10/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://103.21.58.10$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

